* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background: #1B1F2A;
    --calculator: #242938;

    --btn-btn: #243966;
    --button: #3A4154;
    --button-operator: #7C5CFF;
    --button-operator-hover: #9276FF;
    --button-equal: #9B6BFF;

    --display: var(--calculator); 
    --shadow: 6px 6px 12px rgba(0,0,0,0.35),
  -3px -3px 6px rgba(255,255,255,0.05);
    --shadow-operator: 6px 6px 14px rgba(0,0,0,0.4),
  inset 0 1px 0 rgba(255,255,255,0.2);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: var(--background);
}
.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 1rem;

    
    border-radius: 0.5rem;

    background-color: var(--calculator);

    width: 90%;
    max-width: 400px;
}
.calculator input {
    width: 97%;

    font-size: 2rem;
    padding: 1rem;
    margin: 6px;

    border: none;
    outline: none;
    border-radius: 0.5rem;

    background-color: var(--display);
    color: white;

    text-align: right;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
}

.operator {
    background-color: var(--button-operator) !important;
    box-shadow: var(--shadow-operator);
}
.operator:hover {
    background-color: var(--button-operator-hover) !important;
}
.buttons button {
    border: none;
    outline: none;

    background-color: var(--button);
    color: #E6E9F2;
    box-shadow: var(--shadow);

    border-radius: 0.5rem;
    font-size: 2rem;
    
    aspect-ratio: 1/1;
}
.buttons button:active {
  transform: translateY(2px);
  box-shadow:
    inset 3px 3px 8px rgba(0,0,0,0.4),
    inset -2px -2px 5px rgba(255,255,255,0.05);

}
#equal {
    grid-column: span 2;
    aspect-ratio: auto;

    background-color: var(--button-equal) !important;
}