* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: var(--background);
}
.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 1rem;

    
    border-radius: 0.5rem;

    background-color: var(--calculator);

    width: 90%;
    max-width: 400px;
}
.calculator input {
    width: 97%;

    font-size: 2rem;
    padding: 1rem;
    margin: 6px;

    border: none;
    outline: none;
    border-radius: 0.5rem;

    background-color: var(--display);
    color: var(--text-primary);

    text-align: right;

    font-family: "JetBrains Mono", monospace;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
}

.operator {
    background-color: var(--button-operator) !important;
    box-shadow: var(--shadow-operator);
}
.operator:hover {
    background-color: var(--button-operator-hover) !important;
}
.buttons button {
    border: none;
    outline: none;
    
    background-color: var(--button);
    color: var(--text-primary);
    box-shadow: var(--shadow);
    
    border-radius: 0.5rem;
    font-size: 2rem;
    
    aspect-ratio: 1/1;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.buttons button:active {
  transform: translateY(2px);
  box-shadow:
    inset 3px 3px 8px rgba(0,0,0,0.4),
    inset -2px -2px 5px rgba(255,255,255,0.05);

}
#equal {
    grid-column: span 2;
    aspect-ratio: auto;

    background-color: var(--button-equal) !important;
}