* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: yellow;
}
body a {
    flex-shrink: 1;
    border: 2px solid black;
    padding: 2rem;
    border-radius: 0.5rem;

    font-size: 4rem;
    text-align: center;
    text-decoration: none;
    background-color: green;
    color: yellow;

    margin: 10px;
    width: 90%;
    max-width: 400px;

    font-weight: bold;
}